body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../path_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:446px;
    top:135px;
    width:320px;
    height:568px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:568px;
}

.u1 {
    position:absolute;
    left:2px;
    top:276px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../path_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:55px;
    top:135px;
    width:320px;
    height:568px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:568px;
}

.u3 {
    position:absolute;
    left:2px;
    top:276px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:55px;
    top:80px;
    width:244px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../path_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:200px;
}

.u5 {
    position:absolute;
    left:901px;
    top:135px;
    width:10px;
    height:200px;
    
}

.u6_line {
    background-image: url('../path_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u6 {
    position:absolute;
    left:55px;
    top:819px;
    width:200px;
    height:10px;
    
}

