body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../page_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:394px;
    top:170px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../page_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:394px;
    top:170px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../main_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:394px;
    top:190px;
    width:320px;
    height:44px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u6 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:406px;
    top:281px;
    width:296px;
    height:69px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u8 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:419px;
    top:296px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:666px;
    top:299px;
    width:32px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:419px;
    top:321px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:406px;
    top:360px;
    width:296px;
    height:69px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u14 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:419px;
    top:375px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u16_container {
    position:absolute;
    left:666px;
    top:378px;
    width:32px;
    height:32px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:419px;
    top:400px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:406px;
    top:439px;
    width:296px;
    height:69px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u20 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:419px;
    top:454px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:666px;
    top:457px;
    width:32px;
    height:32px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:419px;
    top:479px;
    width:273px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u25_container {
    position:absolute;
    left:406px;
    top:518px;
    width:296px;
    height:69px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u26 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:419px;
    top:533px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u28_container {
    position:absolute;
    left:666px;
    top:536px;
    width:32px;
    height:32px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:419px;
    top:558px;
    width:273px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../main_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:394px;
    top:650px;
    width:320px;
    height:233px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:239px;
}

.u32 {
    position:absolute;
    left:2px;
    top:108px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:406px;
    top:251px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:406px;
    top:611px;
    width:292px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u35_container {
    position:absolute;
    left:406px;
    top:639px;
    width:296px;
    height:69px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u36 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:419px;
    top:654px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u38_container {
    position:absolute;
    left:666px;
    top:657px;
    width:32px;
    height:32px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u39 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:419px;
    top:679px;
    width:273px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u41_container {
    position:absolute;
    left:406px;
    top:718px;
    width:296px;
    height:69px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u42 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:419px;
    top:733px;
    width:185px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u44_container {
    position:absolute;
    left:666px;
    top:736px;
    width:32px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:419px;
    top:758px;
    width:273px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../main_files/u7_normal.png');
}

.u47_container {
    position:absolute;
    left:404px;
    top:797px;
    width:296px;
    height:69px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:75px;
}

.u48 {
    position:absolute;
    left:2px;
    top:26px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:417px;
    top:812px;
    width:185px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../main_files/u10_normal.png');
}

.u50_container {
    position:absolute;
    left:664px;
    top:815px;
    width:32px;
    height:32px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u51 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:417px;
    top:837px;
    width:273px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../main_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:678px;
    top:200px;
    width:24px;
    height:24px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../main_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:406px;
    top:199px;
    width:26px;
    height:26px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../page_files/u0_normal.png');
}

.u57_container {
    position:absolute;
    left:771px;
    top:170px;
    width:320px;
    height:480px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u58 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../page_files/u2_normal.png');
}

.u59_container {
    position:absolute;
    left:771px;
    top:170px;
    width:320px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../main_files/u5_normal.png');
}

.u62_container {
    position:absolute;
    left:771px;
    top:190px;
    width:320px;
    height:44px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u63 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../main_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:783px;
    top:281px;
    width:296px;
    height:44px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:50px;
}

.u65 {
    position:absolute;
    left:2px;
    top:14px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:796px;
    top:296px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:783px;
    top:251px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../main_files/u53_normal.png');
}

.u68_container {
    position:absolute;
    left:1055px;
    top:200px;
    width:24px;
    height:24px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../main_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:783px;
    top:201px;
    width:23px;
    height:23px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../main_files/u64_normal.png');
}

.u72_container {
    position:absolute;
    left:783px;
    top:335px;
    width:296px;
    height:44px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:50px;
}

.u73 {
    position:absolute;
    left:2px;
    top:14px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:796px;
    top:350px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../main_files/u64_normal.png');
}

.u75_container {
    position:absolute;
    left:783px;
    top:389px;
    width:296px;
    height:44px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:50px;
}

.u76 {
    position:absolute;
    left:2px;
    top:14px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:796px;
    top:404px;
    width:108px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../main_files/u64_normal.png');
}

.u78_container {
    position:absolute;
    left:783px;
    top:443px;
    width:296px;
    height:44px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:302px;
    height:50px;
}

.u79 {
    position:absolute;
    left:2px;
    top:14px;
    width:292px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:796px;
    top:458px;
    width:167px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../main_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:1042px;
    top:452px;
    width:30px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u82 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../page_files/u0_normal.png');
}

.u83_container {
    position:absolute;
    left:25px;
    top:170px;
    width:320px;
    height:480px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u84 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../page_files/u2_normal.png');
}

.u85_container {
    position:absolute;
    left:25px;
    top:170px;
    width:320px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../main_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:296px;
    top:190px;
    width:49px;
    height:460px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:466px;
}

.u89 {
    position:absolute;
    left:2px;
    top:222px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../main_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:107px;
    top:215px;
    width:128px;
    height:128px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:128px;
}

.u91 {
    position:absolute;
    left:2px;
    top:56px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:34px;
    top:398px;
    width:252px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../main_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:51px;
    top:552px;
    width:99px;
    height:30px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:36px;
}

.u94 {
    position:absolute;
    left:2px;
    top:8px;
    width:95px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../main_files/u93_normal.png');
}

.u95_container {
    position:absolute;
    left:171px;
    top:552px;
    width:99px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:105px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:8px;
    width:95px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:535px;
    top:138px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:430px;
    top:21px;
    width:284px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../main_files/u55_normal.png');
}

.u99_container {
    position:absolute;
    left:394px;
    top:21px;
    width:26px;
    height:26px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:156px;
    top:138px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:914px;
    top:138px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:430px;
    top:92px;
    width:284px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../main_files/u53_normal.png');
}

.u104_container {
    position:absolute;
    left:394px;
    top:91px;
    width:24px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:454px;
    top:911px;
    width:200px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../page_files/u0_normal.png');
}

.u107_container {
    position:absolute;
    left:1157px;
    top:170px;
    width:320px;
    height:480px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u108 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../page_files/u2_normal.png');
}

.u109_container {
    position:absolute;
    left:1157px;
    top:170px;
    width:320px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../main_files/u5_normal.png');
}

.u112_container {
    position:absolute;
    left:1157px;
    top:190px;
    width:320px;
    height:44px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u113 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../main_files/u70_normal.png');
}

.u114_container {
    position:absolute;
    left:1169px;
    top:201px;
    width:23px;
    height:23px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1300px;
    top:138px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../main_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:1168px;
    top:281px;
    width:299px;
    height:163px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:305px;
    height:169px;
}

.u118 {
    position:absolute;
    left:2px;
    top:74px;
    width:295px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:1208px;
    top:308px;
    width:224px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:1178px;
    top:350px;
    width:278px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:1178px;
    top:397px;
    width:278px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:1168px;
    top:467px;
    width:299px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:430px;
    top:63px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:96px;
    top:439px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:85px;
    top:604px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_line {
    background-image: url('../main_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:200px;
}

.u126 {
    position:absolute;
    left:1598px;
    top:170px;
    width:10px;
    height:200px;
    
}

.u127_line {
    background-image: url('../main_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:0px;
    top:4px;
    width:200px;
    height:3px;
}

.u127 {
    position:absolute;
    left:46px;
    top:1027px;
    width:200px;
    height:10px;
    
}

